@font-face {
  font-family: 'quentinregular';
  src: url('fonts/quentin-webfont.woff2') format('woff2'),
       url('fonts/quentin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.box-masonry-category .post-list-category {
  font-style: italic;
  margin-bottom: 0;
}

.hand-written,
.content-column-content .hand-written {
  font-family: 'quentinregular', Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  color: #111;
  margin-bottom: 0.2em;
}

.category,
.tag {
  font-style: italic;
}

.content-column-content details {
  margin-bottom: 1em;
}

.content-column-content summary {
  color: #ef5285;
  font-family: 'Unica One', cursive;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  outline-color: #ccc;
}

.content-column-content summary::marker {
  color: transparent;
}

.content-column-content details[open] summary {
  margin-bottom: 0.6em;
}

.details-opened {
  width: 12px;
  margin: auto 2px;
}

.details-closed,
.content-column-content details[open] .details-opened {
  display: none;
}

.content-column-content details[open] .details-closed {
  display: inline;
}

.owl-carousel li {
  list-style: none;
}

.owl-theme .owl-controls .owl-page span {
  background-color: #ef5285;
}

.owl-theme .owl-controls .owl-page span,
.owl-theme .owl-controls .owl-buttons .owl-next,
.owl-theme .owl-controls .owl-buttons .owl-prev {
  opacity: 0.5;
}

.owl-theme .owl-controls .owl-buttons .owl-next,
.owl-theme .owl-controls .owl-buttons .owl-prev {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #ef5285;
  font-weight: bold;
  color: #fff;
  background-color: #ef5285;
}

.owl-theme .owl-controls.clickable .owl-page:hover span,
.owl-theme .owl-controls .owl-buttons .owl-next:hover,
.owl-theme .owl-controls .owl-buttons .owl-prev:hover {
  opacity: 1;
}

/* Iubenda Cookie Banner - I need to overwrite the font */
.iubenda-cs-content #iubenda-cs-paragraph .iub-p,
#iubenda-cs-banner .iubenda-cs-content .iubenda-cs-opt-group-custom button,
#iubenda-cs-banner .iubenda-cs-opt-group button.iubenda-cs-btn-primary {
  font-family: 'Vollkorn', serif !important;
}

.iubenda-cs-content .iub-toggle-checkbox label {
  margin-bottom: 0px;
}

#iubenda-cs-banner .iubenda-cs-content .iub-toggle-checkbox span {
  font-family: 'Unica One', cursive !important;
}
